# Cấu hình Bảo mật và Server
JWT_SECRET=your_jwt_secret_key
PORT=5000

# Cấu hình Email (Sử dụng cho các chức năng như đặt lại mật khẩu)
EMAIL_USER=binhb2306518@student.ctu.edu.vn
EMAIL_PASS=Vmw$$Ten
EMAIL_SERVICE=gmail
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com

# Cấu hình Database
DB_NAME=library_db
DB_USER=librarymanagement
DB_PASS=librarymanagement
DB_HOST=127.0.0.1
DB_PORT=3306